<h1>Rent a team</h1>
<h3>Now you can fulfill your childhood dream and play for your favorite team!</h3>
<br>
<p><strong>Available games:</strong></p>
<% @teams.each do |team| %>
  <p>
    ⚽️ <%= link_to team.name, team_path(team) %> x <%= team.oponent %>
  </p>
<% end %>
